.ex-layout{
	width: 100%;
}
.ex-layout .gnb{
	padding: 15px;
}
.ex-layout .main{
	background-color: white;
}
.ex-layout .main:after{ clear: both; display: block; content: '' }

.ex-layout .main .lnb{
	float:left;
	width:30%;
	height:60%;
}

.ex-layout .main .content{
	float: left;
	width: 70%;
}
.ex-layout .footer{
	padding: 15px;
}
html { height: 100% } 
body { height: 100%; margin: 0; padding: 0 }
#map { width: 90%; height: 80%; border : solid white ; margin-left:auto; margin-right:auto } 

.text-primary {
    color: #0BCEAF !important;
  }
  table.type04 {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	margin : 20px 10px;
  }
  table.type04 th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
  }
  table.type04 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
  }
  